$animation-duration: 3000ms;
$rotations: 2;

@mixin animation-mixin($name, $turnRatio: 1) {
  @keyframes #{$name} {
    0% {
      filter: blur(0px);
      transform: rotate(0turn) scale(1);
      opacity: 1;
    }
    
    50% {
      filter: blur(10px);
      transform: rotate(#{$rotations * 2}turn) scale(1.75);
      opacity: .5;
    }
    
    100% {
      filter: blur(10px);
      transform: rotate(#{$rotations * 4}turn) scale(1);
      opacity: 1;
    }
  }
}

.random-image-block {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-direction: column;
  
  &__image-container {
    position: relative;
  }
  
  &__image {
    background-color: white;
    padding: 50px;
    
    &.animating {
      @include animation-mixin(spinBlur, $rotations);
      animation: spinBlur $animation-duration linear forwards;
      position: absolute;
      opacity: .75;
      left: 0;
      
      &[data-image-index="0"] {
        position: relative;
        z-index: 1;
      }
      
      &[data-image-index="1"] {
        @include animation-mixin(spinBlur2, $rotations * 0.5);
        animation: spinBlur2 $animation-duration linear forwards;
      }
      
      &[data-image-index="2"] {
        @include animation-mixin(spinBlur3, $rotations * 0.65);
        animation: spinBlur3 $animation-duration ease;
      }
    }
  }
  
  &__button {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    
    margin-top: 20px;
    border-radius: 3px;
    background-color: green;
    color: white;
    border: 2px solid white;
    font-size: 3rem;
    font-weight: 500;
    padding: 10px 50px;
    opacity: 1;
    transition: 300ms ease;
    
    &[disabled] {
      opacity: 0;
    }
  }
}